<div class="bs-callout bs-callout-info">
  <h4>Antes de Publicar</h4>
  <p>O EuRemoto.com é esclusivo para oportunidades onde o candidato pode trabalhar de qualquer lugar. Caso não seja esse o tipo de oportunidade divulgada, podemos remover o anuncio sem aviso prévio.</p>
</div>

<h1>Vamos Contratar?</h1>
<h4>Para isso precisamos de algumas informações.</h4>

<% if @job.errors.any? %>
  <div class="alert alert-danger" role="alert">Ops! Precisamos corrigir alguns coisas...</div>
<% end %>

<%= simple_form_for @job, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :title, label: 'Título da vaga', placeholder: "Ex.: Desenvolvedor Ruby", input_html: { class: 'input-lg' } %>

  <label>Categoria</label>
  <p>
    <%= f.radio_button :job_type, 'programming', checked: true %>
    <%= label :job_type, 'Programação' %>
  </p>
  <p>
    <%= f.radio_button :job_type, 'designer' %>
    <%= label :job_type, 'Designer' %>
  </p>
  <p>
    <%= f.radio_button :job_type, 'exec' %>
    <%= label :job_type, 'Executivo' %>
  </p>
  <p>
    <%= f.radio_button :job_type, 'sysadmin' %>
    <%= label :job_type, 'Admministrador de Sistemas' %>
  </p>
  <p>
    <%= f.radio_button :job_type, 'support' %>
    <%= label :job_type, 'Suporte' %>
  </p>
  <p>
    <%= f.radio_button :job_type, 'copywriter' %>
    <%= label :job_type, 'Redator' %>
  </p>
  <p>
    <%= f.radio_button :job_type, 'others' %>
    <%= label :job_type, 'Outros' %>
  </p>

  <%= f.input :headquartes, label: 'Matriz', placeholder: 'Ex.: São Paulo, SP' %>
  <%= f.input :description, label: 'Descrição da vaga', as: :text %>
  <%= f.input :apply, label: 'Como se candidatar', placeholder: 'Ex.: `seu-email@seu-dominio.com` ou `www.seusite.com.br/candatar-se`' %>

  <div class="page-header">
    <h1>Agora nos diga um pouco mais sobre sua empresa<small> está acabando.</small></h1>
  </div>

  <%= f.input :company_name, label: 'Nome da empresa', placeholder: 'Informe o nome da sua empresa'  %>
  <%= f.input :url, label: 'Site', placeholder: 'Ex.: www.google.com' %>
  <%= f.input :company_email, label: 'E-mail', placeholder: 'seu-email@seu-dominio.com' %>

  <%= f.button :submit, "Revisar e Publicar", class: 'btn-success input-lg' %>
<% end %>

<div class="pull-right">
  <%= link_to 'Desistir', jobs_path %>
</div>
