<section id="job-resume">
  <div class="page-header">
    <h1><%= @job.title %> <small><%= @job.company_name %></small></h1>
    <h5><%= l @job.created_at, format: :home %></h5>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p>
          <strong>Descrição da Vaga:</strong>
          <%= simple_format @job.description %>
        </p>

        <% if @job.quantity %>
        <p>
          <strong>Quantidade de vagas:</strong>
          <%= @job.quantity %>
        </p>
        <% end %>

        <% if @job.salary %>
        <p>
          <strong>Salário:</strong>
          <%= @job.salary %>
        </p>
        <% end %>

        <p>
          <strong>Local da empresa:</strong>
          <%= @job.headquartes %>
        </p>
      </div>

      <div class="col-xs-6 col-md-4">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <a href="mailto:?body=bla bla">Indique para um amigo</a>
        <hr>
      </div>

    </div>
  </div>

  <div id="apply-to-job">
    <h4>Para se candidatar a oportunidade:</h4>
    <%= @job.apply %>
  </div>
</section>

<%= link_to 'Ver todas vagas', jobs_path %>
