<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EuRemoto.com</title>
    <meta http-equiv="content-language" content="pt-br">
    <meta name="revisit-after" content="1 days">
    <meta name="Distribution" content="Global">
    <meta name="Robots" content="All">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <section class="container">
      <div class="container menu" id="header">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <%= link_to(image_tag("euremoto-logo.png"), root_path) %>
          </div>
          <div class="col-xs-6 col-md-4 vertical-center">
            <%= link_to 'Publicar Vaga', new_job_path %>
          </div>
        </div>
        <div class="row">
          <section class="search">
            <%= form_tag "/search" do |f| %>
            <div class="input-group">
              <%= text_field_tag 'q','', {type: "search", id:"search", class: 'form-control input-lg', placeholder: "buscar: Ruby, Photoshop ..."} %>
              <span class="input-group-btn"><%= button_tag "Buscar", { class: 'btn btn-lg' } %></span>
            </div>
            <% end %>
          </section>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-xs-6 col-md-10"><%= yield %></div>
        </div>

        <div class="past-events-list">

          <div class="row">
            <div class="large-10 small-12 small-centered columns">
              <a class="waves-effect waves-light btn-large lighten-2 past-events-btn large-6">Vagas disponíveis</a>
            </div>
          </div>

          <div class="row">
            <div class="large-10 small-12 small-centered columns">
              <div class="large-6 columns">
                <div class="card box featured">
                  <div class="label">Mobile</div>
                  <div class="label">Android</div>
                  <p class="date-local">Empresa: <a href="#" target="_blank" alt="Site da Empresa">Moip</a></p>
                  <p class="event-theme">Nome da Vaga</p>
                  <p class="event-name">Breve descrição da vaga</p>
                  <a class="waves-effect waves-blue-grey btn-flat" href="#" target="_blank">Saiba mais</a>
                </div>
              </div>
              <div class="large-6 columns">
                <div class="card box featured">
                  <div class="label">Web</div>
                  <div class="label">Ruby</div>
                  <div class="label">JavaScript</div>
                  <p class="date-local">Empresa: <a href="#" target="_blank" alt="Site da Empresa">EuRemoto</a></p>
                  <p class="event-theme">EuRemoto Web</p>
                  <p class="event-name">Desenvolvimento da aplicação EuRemoto para Web utilizando Ruby</p>
                  <a class="waves-effect waves-blue-grey btn-flat" href="#" target="_blank">Saiba mais</a>
                </div>
              </div>
              <div class="large-6 columns">
                <div class="card box">
                  <div class="label">API</div>
                  <div class="label">Java</div>
                  <div class="label">Python</div>
                  <p class="date-local">Empresa: <a href="#" target="_blank" alt="Site da Empresa">Exemplo.com</a></p>
                  <p class="event-theme">Nome da Vaga</p>
                  <p class="event-name">Breve descrição da vaga</p>
                  <a class="waves-effect waves-blue-grey btn-flat" href="#" target="_blank">Saiba mais</a>
                </div>
              </div>
              <div class="large-6 columns">
                <div class="card box">
                  <div class="label">Web</div>
                  <div class="label">Ruby</div>
                  <div class="label">JavaScript</div>
                  <p class="date-local">Empresa: <a href="#" target="_blank" alt="Site da Empresa">EuRemoto</a></p>
                  <p class="event-theme">Nome da Vaga</p>
                  <p class="event-name">Breve descrição da vaga</p>
                  <a class="waves-effect waves-blue-grey btn-flat" href="#" target="_blank">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
